.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div {
    background-color: #ffffff;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .frame .overlap-group {
    position: absolute;
    width: 1920px;
    height: 126px;
    top: 0;
    left: 0;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 1920px;
    height: 88px;
    top: 0;
    left: 0;
    background-color: #2a2121;
  }
  
  .frame .rectangle-2 {
    position: absolute;
    width: 1858px;
    height: 126px;
    top: 0;
    left: 29px;
    background-color: #dfd94d;
  }
  
  .frame .text-wrapper {
    position: absolute;
    top: 38px;
    left: 91px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .rectangle-3 {
    position: absolute;
    width: 420px;
    height: 88px;
    top: 19px;
    left: 1292px;
    background-color: #3f3939;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    top: 39px;
    left: 1365px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .group {
    position: absolute;
    width: 420px;
    height: 88px;
    top: 19px;
    left: 798px;
    background-color: #3f3939;
  }
  
  .frame .text-wrapper-3 {
    position: absolute;
    top: 20px;
    left: 39px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-4 {
    position: absolute;
    top: 204px;
    left: 1216px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .p {
    position: absolute;
    width: 599px;
    top: 274px;
    left: 1216px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .overlap {
    position: absolute;
    width: 545px;
    height: 98px;
    top: 702px;
    left: 1216px;
  }
  
  .frame .rectangle-4 {
    position: absolute;
    width: 545px;
    height: 98px;
    top: 0;
    left: 0;
    background-color: #f3b703;
  }
  
  .frame .text-wrapper-5 {
    position: absolute;
    top: 24px;
    left: 109px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .image {
    position: absolute;
    width: 1057px;
    height: 825px;
    top: 178px;
    left: 61px;
    object-fit: cover;
  }
  